// This file overrides the default Boostrap theme with our colors.

// Override default variables before the import
$body-bg: aliceblue;

$theme-colors: (
  "primary": #1091b3,
  "dark": white
);

$navbar-light-color: white;
$navbar-light-brand-color: white;
$navbar-brand-font-size: 2rem;

.navbar {
  margin-bottom: 1rem;
}

/* fix for popper warning issue
https://github.com/react-bootstrap/react-bootstrap/issues/5081
*/
.bs-popover-right {
    margin-left: 0 !important;
    top: -5px !important;
    left: 8px !important;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

.container {
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
  }

// Our Variables
$logo-font: Orbitron;
$main-color: #1091b3;
$light-color: #E3F7FC;

// Base CSS
#logo {
  font-family: $logo-font;
}

.center-card {
  @extend .card;
  width: 24rem;
  margin: 0 auto;
}