select {
  .accepted {
    color: green;
  }

  .waitlisted,
  .pending,
  .deferred {
    color: goldenrod;
  }

  .denied {
    color: red;
  }

  .application {
    text-transform: capitalize;
  }
}

td.delete-icon {
  text-align: center;
  cursor: pointer;
  span {
    display: block;
    color: red;
    font-size: 24px;
  }
}

.react-autosuggest__suggestions-container
{
  max-height: 200px;
  overflow-y: auto;
}